<link rel="import" href="../polymer/polymer.html">

<polymer-element name="lp-two-img-section" attributes="minHeight bgcolor titlecolor titleweight textscolor">
  <template>
    <link rel="stylesheet" href="lp-two-img-section.css">  
    
    <div id="mainContent" style="height: {{minHeight}}px; background-color: {{bgcolor}}" horizontal layout>
      <div class="contents" horizontal layout>
      <div flex>
        <div class="description" style="color: {{textscolor}}; font-weight: 100;">
          <h1 style="color: {{titlecolor}}; font-weight: {{titleweight}};">
            <content select=".title"></content>
          </h1>        
          <content select=".content-description"></content>
        </div>  
      </div>
      <div flex>
        <div class="img">
          <content select=".content-img"></content>
        </div>         
      </div>
      </div>
             

    </div>
  </template>
  <script>
    (function () {
      Polymer({
        // define element prototype here
      });
    })();
  </script>
</polymer-element>
