.settings
settings_dev.py
.pydevproject
.project
*.bak
bin
build
include
lib
local
man
share
.Python
*.pyc
*~
*.db
.DS_Store
.idea
src/bower_components/
src/components/
templates/bower_components/paper-*
templates/bower_components/core-*
templates/bower_components/web*
templates/bower_components/polymer*
templates/bower_components/sc-*
