html, body {
  height: 100%;
  margin: 0;
  background-color: #F9F9F9;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.container {
  width: 80%;
  margin: 50px auto;
}
.appbrand {
	background-color: #19293E;
	padding: 10px 10px 10px 16px;
	vertical-align: middle;
  cursor: pointer;
}
.appname {
	margin-left: 10px;
	margin-top:20px;
	color: #FFF;
}
.panelContent {
}

sc-input-hashtag {
  padding: 0px 11px 17px 11px;
}

login-box {
  margin: 40px auto;
}
#loadData {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.5);
}
paper-spinner {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
}
paper-spinner.blue::shadow .circle {
  border-color: #2A99D6;
}
.beta {
  background-color: #EA4A5B;
  color: white;
  font-weight: 300;
  font-size: 10px;
  height: 12px;
  padding: 2px 3px 2px 3px;
  border-radius: 2px;
}
.sc-input-section {
  display: flex;
  background-color: #EEEEEE;
  min-height: 50px;
  padding: 0px;
  margin: 0;
  max-width: 100%;
  bottom: 0;
}
#editableRect {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#editable {
  background-color: #FFFFFF;
  font-size: 1.15em;
  font-weight: 300;
  border-radius: 3px;
  font-size: .95rem;
  padding: 6px 6px 6px 6px;
  overflow: hidden;
  outline: none;
  min-height: 30px;
  max-height: 180px !important;
  resize: none !important;  
  width: 100%;
  margin: 12px;
  overflow-y: scroll;
  word-wrap: break-word; /* firefox */
  word-break: break-all; /* firefox */
}

#editable em {
font-style: normal;
color: #47CACC !important;
} 

.user-data{
  display: none;
}

paper-toast {
  bottom: 0;
  left: auto;
  width: 80%;
  color: yellow;
}

html /deep/ .hashLink {
  color: #47CACC !important;
  text-decoration: none;
}
