<table cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#F5F5F5" border="0">
  <tbody>
    <tr>
      <td height="15"></td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="500" align="center" bgcolor="#F5F5F5" border="0">
          <tbody>
            <tr> 
              <td width="15"></td>
              <td>
                <table cellpadding="0" cellspacing="0" width="470" align="center" border="0" bgcolor="#ffffff" style="border-top-left-radius:4px;border-top-right-radius:4px">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" style="padding:30px 0px 20px 0px">
                        <a href="http://localhost:9003/app" target="_blank">
                        <img style="display:block;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#333333" src="http://localhost:9003/static/assets/img/logo_label.png" border="0" alt="SisComando" class="CToWUd"></a>
                      </td>
                    </tr>
                  </tbody>
                </table> 
                <table cellpadding="0" cellspacing="0" width="470" align="center" bgcolor="#ffffff" border="0"> 
                  <tbody>
                    <tr>
                      <td align="middle" style="font-family:Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:20px;font-weight:normal;line-height:24px;padding:0px 34px 10px 34px">Nova senha</td>
                    </tr> 
                    <tr>
                      <td style="font-family:Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:14px;padding:0px 34px 25px 34px;line-height:20px;font-weight:lighter">Oi, Horacio,</td>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:14px;padding:0px 34px 25px 34px;line-height:20px;font-weight:lighter">Alteramos a senha da sua conta, como foi solicitado. Se  quiser visualizar ou alterar os dados da sua conta, visite <a href="http://localhost:9003/app" style="color:#47CACC" target="_blank">Sua conta</a>.</td>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica,Arial,sans-serif;color:#454545;font-size:14px;font-weight:lighter;padding:0px 34px 35px 34px;line-height:20px">Equipe do <span class="il">SisComando</span>.</td>
                    </tr>
                  </tbody>
              </table>
            </td>
            <td width="15"></td>
          </tr>
        </tbody>
      </table>   
      <table cellpadding="0" cellspacing="0" width="500" align="center" bgcolor="#F5F5F5" border="0">
        <tbody>
        <tr>
            <td width="15"></td>
            <td>
              <table cellpadding="0" cellspacing="0" width="470" align="center" bgcolor="#47CACC" border="0" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px"> 
                <tbody>
                  <tr>
                    <td align="center">
                      <a href="http://secure.netflix.com/us/deviceui/index.html?lnktrk=EMP&amp;g=F5C40AE213FBE0BB1632B69C57B537920AC83933&amp;lkid=viewAll&amp;action=home" style="text-decoration:none;color:#ffffff" target="_blank">
                          <table cellpadding="0" cellspacing="0" align="center" border="0"> 
                            <tbody>
                              <tr>
                                <td align="left" style="font-family:Helvetica,Arial,sans-serif;font-size:18px;padding:0px 1px 0px 0px">
                                  <a href="http://secure.netflix.com/us/deviceui/index.html?lnktrk=EMP&amp;g=F5C40AE213FBE0BB1632B69C57B537920AC83933&amp;lkid=viewAll&amp;action=home" style="text-decoration:none;color:#ffffff" target="_blank">Acao aqui</a>
                                </td>
                                <td align="center" style="padding:0px 0px 0px 2px">
                                  <a href="http://secure.netflix.com/us/deviceui/index.html?lnktrk=EMP&amp;g=F5C40AE213FBE0BB1632B69C57B537920AC83933&amp;lkid=viewAll&amp;action=home" style="text-decoration:none;color:#ffffff;font-size:18px" target="_blank">
                                  <img style="display:block" src="https://ci3.googleusercontent.com/proxy/5QX36B34hQ3f_Zs8V3JDWe-azRwRPDEAqnFl0-mV_liaqS3gNZRe6GMHd9ToiYTgibArxP408qW7nJyLiu2vOeAhCxdZ0bZqKvDLTFbzeO3pXsR8=s0-d-e1-ft#http://cdn.nflximg.com/us/email/logo/newDesign/playArrow2x.png" height="46" width="31" border="0" alt="" class="CToWUd"></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </a> 
                    </td>
                  </tr>   
                </tbody>
              </table>
            </td>
            <td width="15"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>