<!DOCTYPE html><html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="/static/assets/img/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/assets/img/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/assets/img/touch-icon-ipad-retina.png">

  <title>SisComando - Mais fácil, mais social!</title>

  <script src="/static/components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="/static/components/polymer/polymer.html">
  <link rel="import" href="/static/components/core-drawer-panel/core-drawer-panel.html">
  <link rel="import" href="/static/components/core-header-panel/core-header-panel.html">
  <link rel="import" href="/static/components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="/static/components/sc-header/sc-header.html">
  <link rel="import" href="/static/components/sc-search/sc-search.html">
  <link rel="import" href="/static/components/sc-navbar/sc-navbar.html">
  <link rel="import" href="/static/components/sc-timeline/sc-timeline.html">
  <link rel="import" href="/static/components/lp-input/lp-input.html">
  <link rel="stylesheet" href="/static/assets/css/app.css">
  <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">

</head>
<body vertical="" layout="" unresolved="">
  <!--
  <div id="loadData" layout vertical center-center>
    <paper-spinner class="blue" active></paper-spinner>
  </div>
  -->
  <core-drawer-panel responsivewidth="768px">
    <div drawer="" drawerwidth="350px">
      <core-header-panel>
        <!-- App context mini-header: you can to put logo app, name, etc.-->
        <div class="core-header">
            <div class="appbrand" horizontal="" layout="" onclick="reload();">
              <span class="logo">
                <img src="/static/assets/img/logo_60.png">
              </span>
              <span class="appname">SisComando</span>
              <span class="beta">beta</span>
            </div>
        </div>
        <!-- App context mini-header: END -->
        <!-- TODO: attributes must be consumed by REST and not Render via backend -->
        <sc-navbar username="%% g.user.shortname %%" avatar="%% g.user.md5_email %%" gravatarenabled="true" online="%% g.user.status_online %%" channel="message"></sc-navbar>
      </core-header-panel>
    </div>
    <div main="">
      <core-header-panel>
        <sc-search></sc-search>
        <sc-header></sc-header>
        <div class="panelContent" vertical="" layout="" fit="">
          <sc-timeline gravatarenabled="true"></sc-timeline>
          <lp-input target="editable" boxtarget="editableRect" method="POST" eventfired="click-submit-lp-input">
          &gt;</lp-input>
          <div id="editableRect" class="sc-input-section" flex="">
          <div id="editable" contenteditable="true"></div>
          <!-- experimental button -->
          <paper-icon-button icon="send" style="position: absolute; float:right; right: 10px; top: 10px; color: #EEEEEE;"></paper-icon-button>
          </div>
        </div>
      </core-header-panel>
    </div>

  </core-drawer-panel>

  <script src="/static/assets/js/app.js"></script>
  <script>
      var userData = {};
      var pk = "%% g.user.pk %%";
      userData['pk'] = pk.replace(/'/g,'').replace(/ /g, '') // mockPK;
      userData['avatar'] = "%% g.user.avatar %%";
      userData['shortname'] = "%% g.user.shortname %%";
      userData['email'] = "%% g.user.email %%";
      // TODO: stores token after authenticated successful
      window.localStorage.setItem("User", JSON.stringify(userData));

      // Reload page
      function reload() {
        location.href = "/app";
      }
  </script>


</body></html>
