<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>SisComando - Mais fácil, mais social!</title>

  <script src="/static/components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="/static/components/polymer/polymer.html">
  <link rel="import" href="/static/components/core-header-panel/core-header-panel.html">
  <link rel="import" href="/static/components/login-box/login-box.html">
  <link rel="import" href="/static/components/paper-input/paper-input.html">
  <link rel="import" href="/static/components/paper-input/paper-input-decorator.html">
  <link rel="import" href="/static/components/paper-button/paper-button.html">  
  <link rel="stylesheet" href="/static/assets/css/app.css">
  <link rel="stylesheet" href="/static/assets/css/appstaticpages.css">
  <link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">

</head>

<body vertical layout unresolved>

    <core-header-panel>
      <!-- App context mini-header: you can to put logo app, name, etc.-->
      <div class="core-header">
          <div class="appbrand" horizontal layout>
            <span class="logo"> 
              <img src="/static/assets/img/logo_60.png">
            </span>
            <span class="appname">SisComando</span>
          </div>
      </div>
      <div horizontal center-justified layout center>
        <div class="baseContent register">
          <h3>Signup</h3>
          <p>%% greetings %%, %% name %%! </p>
          <p>Digite uma senha para finalizar o cadastro.</p> 
          <form id="registerForm" name="form" action="/register" method="POST">
            <input type="hidden" id="inviteID" name="invite" value="%% invite.pk %%">
            <paper-input-decorator label="Password" floatingLabel>
              <input is="core-input" type="password" name="password" id="passwordInput" value="" label="password">
            </paper-input-decorator>
            <template is="auto-binding">
              <paper-button id="submitbutton" raised on-tap="{{submitRegister}}">Enviar</paper-button>
            </template>
          </form>          
        </div>
      </div> 
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <paper-toast text="%% message %%" opened="true"></paper-toast>
          {% endfor %}
        {% endif %}
      {% endwith %}           
    </core-header-panel>
    <script>
    var registerForm = document.querySelector('#registerForm');
      addEventListener('template-bound', function(ev){
        ev.target.submitRegister = function() {
            registerForm.submit();
        }
      });
    </script>

</body>
</html>
