<table cellpadding="0" cellspacing="0" width="100%" align="center" bgcolor="#F5F5F5" border="0">
  <tbody>
    <tr>
      <td height="15"></td>
    </tr>
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0" width="500" align="center" bgcolor="#F5F5F5" border="0">
          <tbody>
            <tr> 
              <td width="15"></td>
              <td>
                <table cellpadding="0" cellspacing="0" width="470" align="center" border="0" bgcolor="#ffffff" style="border-top-left-radius:4px;border-top-right-radius:4px">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" style="padding:30px 0px 20px 0px">
                        <a href="%% url_for('index', _external=True) %%" target="_blank">
                        <img style="display:block;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#333333" src="%% url_for('static', filename='assets/img/logo_label.png', _external=True) %%" border="0" alt="SisComando"></a>
                      </td>
                    </tr>
                  </tbody>
                </table> 
                <table cellpadding="0" cellspacing="0" width="470" align="center" bgcolor="#ffffff" border="0"> 
                  <tbody>
                    <tr>
                      <td align="middle" style="font-family:Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:20px;font-weight:normal;line-height:24px;padding:0px 34px 10px 34px">%%title%%</td>
                    </tr> 
                    <tr>
                      <td style="font-family:Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:14px;padding:0px 34px 25px 34px;line-height:20px;font-weight:lighter">%%greetings%%, %%fullname%%,</td>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica,Arial,sans-serif;color:#2b2b2b;font-size:14px;padding:0px 34px 25px 34px;line-height:20px;font-weight:lighter">
                      <!-- put your messsage here -->
                      <%  block content %>
                      <% endblock %>
                    </tr>
                    <tr>
                      <td style="font-family:Helvetica,Arial,sans-serif;color:#454545;font-size:14px;font-weight:lighter;padding:0px 34px 35px 34px;line-height:20px">Equipe do <span class="il">SisComando</span>.</td>
                    </tr>
                  </tbody>
              </table>
            </td>
            <td width="15"></td>
          </tr>
        </tbody>
      </table>   
      <table cellpadding="0" cellspacing="0" width="500" align="center" bgcolor="#F5F5F5" border="0">
        <tbody>
        <tr>
            <td width="15"></td>
            <td>
              <table cellpadding="0" cellspacing="0" width="470" align="center" bgcolor="#47CACC" border="0" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px"> 
                <tbody>
                  <tr>
                    <td align="center">
                      <a href="%% url_for('index', _external=True) %%" style="text-decoration:none;color:#ffffff" target="_blank">
                          <table cellpadding="0" cellspacing="0" align="center" border="0"> 
                            <tbody>
                              <tr>
                                <td align="left" style="font-family:Helvetica,Arial,sans-serif;font-size:18px;padding:0px 1px 0px 0px">
                                  <a href="%% url_for('index', _external=True) %%" style="text-decoration:none;color:#ffffff" target="_blank">Acao aqui</a>
                                </td>
                                <td align="center" style="padding:0px 0px 0px 2px">
                                  <a href="%% url_for('index', _external=True) %%" style="text-decoration:none;color:#ffffff;font-size:18px" target="_blank">
                                  <img style="display:block" src="%% url_for('static', filename='assets/img/arrow.png' ,_external=True) %%" height="46" width="31" border="0" alt=""></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </a> 
                    </td>
                  </tr>   
                </tbody>
              </table>
            </td>
            <td width="15"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>