<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>sc-icons Demo</title>

  <script src="../webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="sc-icons.html">
  <link rel="import" href="../core-icon/core-icon.html">

</head>
<body unresolved>

	<div style="background: black; height: 100px; width: 100px;">
		<font style="color:white">Icon here:</font>
		<core-icon icon="menu"></core-icon>
	</div>

</body>
</html>
