<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style"
        content="black-translucent" >
         
  <title>SisComando - Mais fácil, mais social!</title>

  <script src="components/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="components/lp-header/lp-header.html">
  <link rel="import" href="components/lp-text-languages/lp-text-languages.html">
  <link rel="import" href="components/lp-three-section/lp-three-section.html">
  <link rel="import" href="components/lp-two-img-section/lp-two-img-section.html">
  <link rel="import" href="components/lp-icons/lp-icons.html">
  <link rel="import" href="components/img-sprite/src/img-sprite.html">
  <link rel="import" href="components/core-a11y-keys/core-a11y-keys.html">
  <link rel="import" href="components/lp-sop-dialog/lp-sop-dialog.html">
  <link rel="import" href="components/paper-input/paper-input-decorator.html">
  <link rel="import" href="components/paper-button/paper-button.html">
  <link rel="stylesheet" href="assets/css/appstaticpages.css">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon">

</head>
<body unresolved id="home">
  <div id="wrapperContent" class="wrapper">
    <lp-header minHeight="550" videoShow="false" webm="/assets/videos/businessman.webm"
    mp4="/assets/videos/4213120.mp4">
      <span class="brand">
        <img src="/assets/img/logo_label_br.png">
      </span>
      <span class="quickmenu"><a class="menu">Menu 1</a></span>
      <span class="callMessage">
      <lp-text-languages
        pt-br='Fascinante, mais fácil e mais social.'
      >
      Lovely, easiest and more social.
      </lp-text-languages>
      <br />
      <a id="caller" class="btn-caller" href="#">
          <lp-text-languages
          pt-br='Peça seu convite!'>
          Request an invite!
          </lp-text-languages>
      </a>
      </span>
      <span class="item1">
          <lp-text-languages
          pt-br='Entrar'>
          Login
          </lp-text-languages>
      </span>
    </lp-header>
    <lp-three-section minHeight="500" bgcolor="#F9F9F9" titlecolor="#056396" textscolor="#686868" titleweight="700">
      <span class="title">
      <lp-text-languages
      pt-br='Rápido, Ágil, Social'>
        Fast, Agile, Social      
      </lp-text-languages>
      </span>
      <div class="highlight-1">
        <img-sprite src="/assets/img/sprite-call.png" width="100" height="144" frame="0"></img-sprite>
      </div>
      <div class="highlight-2">
        <img-sprite src="/assets/img/sprite-call.png" width="135" height="144" frame="1"></img-sprite>
      </div>
      <div class="highlight-3">
        <img-sprite src="/assets/img/sprite-call.png" width="145" height="144" frame="2"></img-sprite>
      </div>
      <div class="text-highlight-1">
        <lp-text-languages
          pt-br='Rápido para prover soluções como comunicação e inteligência para problemas de alto impacto no negócio.'
        >
          Fast to provide solutions as communication and knowledge base to high-impact problems.
        </lp-text-languages>
      </div>
      <div class="text-highlight-2">
        <lp-text-languages
          pt-br="<i>Empoderar</i> pessoas por meio de uma fascinante experiência com funcionalidades que estendem suas habilidades">
          Empower people with lovely experience providing more abstract ways to extend your skills.
          </lp-text-languages>
        </div>
      <div class="text-highlight-3">
        <lp-text-languages
          pt-br='Permite que um grande número de pessoas trabalhem juntas com novas formas para construir a inteligência coletiva.'>
         Allows huge numbers of people to work together in new ways to build collective intelligence.
        </lp-text-languages>
      </div>
    </lp-three-section>
    <lp-two-img-section minHeight="450" bgcolor="#47CACC" titlecolor="#F9F9F9" textscolor="#F9F9F9" titleweight="700">
      <span class="title">
        <lp-text-languages
          pt-br='Design Responsivo'>
          Responsive Design      
        </lp-text-languages>
      </span>
      <span class="content-description">
        <lp-text-languages
          pt-br='Adaptado para dispositivos móveis com respostas dinâmicas a vasta maioria das resuloções de tela do mercado. Muito fácil de usar com qualquer dispositivo e qualquer tela. É útil para enviar respostas rápidas
          no tratamento de demandas estratégicas em qualquer hora e lugar.'>
          Ready to mobile devices with dynamically responsive to greater numbers of screen from market. Easier to use
          with any devices, any screens. It's useful to fast replies for tratament of the strategic demands anytime and anywhere.
        </lp-text-languages> 
        <br />
        <button id="caller2" class="btn-caller">
            <lp-text-languages
            pt-br='Peça seu convite!'>
            Request an invite!
            </lp-text-languages>
        </button>               
      </span>
      <span class="content-img">
        <img src="/assets/img/part-iphone.png">
      </span>
    </lp-two-img-section>
    <lp-three-section minHeight="500" bgcolor="#FFFFFF" titlecolor="#056396" textscolor="#686868" titleweight="700">
      <span class="title">
      <lp-text-languages
      pt-br='Inteligência Empresarial'>
        Business Intelligence    
      </lp-text-languages>
      </span>
      <div class="highlight-1">
        <img-sprite src="/assets/img/sprite-call-business.png" width="85" height="144" frame="0"></img-sprite>
      </div>
      <div class="highlight-2">
        <img-sprite src="/assets/img/sprite-call-business.png" width="130" height="144" frame="1"></img-sprite>
      </div>
      <div class="highlight-3">
        <img-sprite src="/assets/img/sprite-call-business.png" width="145" height="144" frame="2"></img-sprite>
      </div>
      <div class="text-highlight-1">
        <lp-text-languages
          pt-br='Big Data<br/>Manipulamos um vasto conjunto de dados para responder as necessidades dos novos gestores.'>
          Big Data<br/>
          Handling vast set of data to response requirements from new managers.
        </lp-text-languages>
      </div>
      <div class="text-highlight-2">
        <lp-text-languages
          pt-br="Business Analytics<br>Transformamos terabytes de dados em informações estratégicas para a tomada de decisões.">
          Business Analytics<br/>
          We change terabytes of data to strategic information for decisions actions.
          </lp-text-languages>
        </div>
      <div class="text-highlight-3">
        <lp-text-languages
          pt-br='Data Fusion<br>Integramos diversas fontes de dados distintas, em formatos variados, formando cubos de relaciomentos.'>
         Data Fusion<br>
         Fusion from multiple data sources with distinct formats to build cube of relationships.
        </lp-text-languages>
      </div>
    </lp-three-section>    
    <div id="footer" class="footer">
      <div class="links">
        <ul>
          <li>
            <a id="developers" href="#home">
              <lp-icons icon="hardware:gamepad" color="#CCC" size="14px" opacity="1"></lp-icons>&nbsp;
              <lp-text-languages
                pt-br='Desenvolvedores'>
                Developers
              </lp-text-languages>
            </a>
         </li>
          <li>
          <a id="packages" href="#home">
              <lp-icons icon="view-module" color="#CCC" size="14px" opacity="1"></lp-icons>&nbsp;
              <lp-text-languages
                  pt-br='Pacotes utilizados'>
                  Packages
              </lp-text-languages>
            </a>
         </li>
          <li>
            <a id="contact" href="#home">
              <lp-icons icon="work" color="#CCC" size="14px" opacity="1"></lp-icons>&nbsp;
                <lp-text-languages
                    pt-br='Contato'>
                    Contact
                </lp-text-languages>
            </a>
         </li>
          <li>
            <a id="donate" href="#home">
              <lp-icons icon="social:mood" color="#CCC" size="14px" opacity="1"></lp-icons>&nbsp;
                <lp-text-languages
                    pt-br='Doe um café'>
                    Donate coffee
                </lp-text-languages>
            </a>
         </li>         
          <li>
            <a id="aboutsis" href="#home">
              <lp-icons icon="maps:beenhere" color="#CCC" size="14px" opacity="1"></lp-icons>&nbsp;
                <lp-text-languages
                    pt-br='Sobre o SisComando'>
                    About SisComando
                </lp-text-languages>
            </a>
         </li>         
        </ul>
      </div>
      <div class="footier">
          <lp-text-languages
            pt-br='Feito com <lp-icons class="heart" icon="favorite" color="#F92654" size="24px" opacity="1"></lp-icons> pela SUPGS'>
          Make with <lp-icons class="heart" icon="favorite" color="#F92654" size="24px" opacity="1"></lp-icons> by SUPGS
          </lp-text-languages>        
      </div>
    </div>
  </div>

  <!-- dialogs -->
  <lp-sop-dialog id="dialogDevelopers">
    <span class="headline">Developers</span>
    <span class="content">
      <p>
        <lp-text-languages
          pt-br="Diversas pessoas contribuem para qualidade deste projeto direta e indiretamente.">
          Several people make direct and indirect contributions for quality of the project.
        </lp-text-languages>
      </p>
    <lp-three-section minHeight="100" bgcolor="#FFFFFF" titlecolor="#056396" 
    textscolor="#686868" titleweight="700" paddingTop="0px" paddingBottom="0px" textSize="1em">
      <div class="highlight-1 avatar">
        <img src="https://avatars2.githubusercontent.com/u/1104460?v=3&s=120" />
      </div>
      <div class="highlight-2 avatar">
        <img src="https://lh3.googleusercontent.com/-jA9uszP8OoA/AAAAAAAAAAI/AAAAAAAAAtw/iPLzAPWml4Q/s120-c/photo.jpg" />
      </div>
      <div class="highlight-3 avatar">
        <img src="https://pbs.twimg.com/profile_images/1284642376/CIMG9894a.JPG" width="120px" />
      </div>
      <div class="text-highlight-1">
        <lp-text-languages
          pt-br='<small>Horacio</small> <strong>Ibrahim</strong><br><br>Desenvolvedor Python e Alquimista que transforma polímeros em inovação.'>
          <small>Horacio</small> <strong>Ibrahim</strong><br><br>Python developer and alchemist that turns polymers into innovation.
        </lp-text-languages>
      </div>
      <div class="text-highlight-2">
        <lp-text-languages
          pt-br="<small>Eduardo Nascimento</small> <strong>Duds</strong><br><br>Analista de Sistemas. "Pentaho Man" domina os cubos mágicos de dados.">
          <small>Eduardo Nascimento</small> <strong>Duds</strong><br><br>Analista de Sistemas. "Pentaho Man" domina os cubos mágicos de dados.
          </lp-text-languages>
        </div>
      <div class="text-highlight-3">
        <lp-text-languages
          pt-br='<small>Márcia</small> <strong>Missias</strong><br><br>"Product Owner" pavimenta
          a avenida da inovação liderando a equipe.'>
         <small>Márcia</small> <strong>Missias</strong><br><br>"Product Owner" pavimenta
          a avenida da inovação liderando a equipe.
        </lp-text-languages>
      </div>
    </lp-three-section>         
      <br>
      <p>
      <lp-text-languages pt-br="Agradecimentos especiais para:">
      Special thanks to:
      </lp-text-languages>
      Eric Lopes, Eduardo, Isaac, geral Centro de Comandos ...
      </p>          
    </span>
  </lp-sop-dialog>

  <lp-sop-dialog class="scrolling" id="dialogPackages" backdrop="true">
  <template is="auto-binding">
    <core-media-query query="max-width: 640px"
                    queryMatches="{{phoneScreen}}"></core-media-query> 

    <span class="headline">Packages</span>
    <span class="content">
      <p><lp-text-languages
        pt-br="Nós usamos alguns códigos criados por uma grande comunidade pelo mundo.">
        We used some codes created by greater community on the world.
      </lp-text-languages></p>



    <lp-three-section minHeight="100" bgcolor="#FFFFFF" titlecolor="#056396" 
    textscolor="#686868" titleweight="700" paddingTop="0px" paddingBottom="0px" textSize="1em">
      <div class="highlight-1 avatar">
        <img-sprite src="/assets/img/sprite-logos.png" width="95" height="110" frame="0"></img-sprite>
      </div>
      <div class="highlight-2 avatar">
        <img-sprite src="/assets/img/sprite-logos.png" width="105" height="110" frame="1"></img-sprite>
      </div>
      <div class="highlight-3 avatar">
        <img-sprite src="/assets/img/sprite-logos.png" width="107" height="110" frame="2"></img-sprite>
      </div>
      <div class="text-highlight-1">
        <lp-text-languages
          pt-br='<strong>Polymer</strong><br><br>a core library makes it easier than ever to make fast, beautiful, and interoperable web components.'>
          <strong>Polymer</strong><br><br>a core library makes it easier than ever to make fast, beautiful, and interoperable web components.
        </lp-text-languages>
      </div>
      <div class="text-highlight-2">
        <lp-text-languages
          pt-br="<strong>Flask</strong><br><br>is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!">
          <strong>Flask</strong><br><br>is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!
          </lp-text-languages>
        </div>
      <div class="text-highlight-3">
        <lp-text-languages
          pt-br='<strong>Python</strong><br><br>is a widely used general-purpose, high-level programming language. Its design philosophy emphasizes code readability.'>
         <strong>Python</strong><br><br>is a widely used general-purpose, high-level programming language. Its design philosophy emphasizes code readability.
        </lp-text-languages>
      </div>
    </lp-three-section>  
    </span>   
  </template> 
  </lp-sop-dialog>  

  <lp-sop-dialog id="dialogContact" backdrop="true">
    <span class="headline">Contact</span>
    <span class="content">
        <form action="/contact/" method="post">
          <paper-input-decorator label="Your Name">
              <input is="core-input">
          </paper-input-decorator>
          <paper-input-decorator label="E-mail address">
              <input is="core-input" type="email">
          </paper-input-decorator>
          <paper-input-decorator floatingLabel label="Your message">
              <textarea></textarea>
          </paper-input-decorator>
          <paper-button style="float: right;">
            <lp-text-languages pt-br="<lp-icons icon='send'></lp-icons> Enviar">
            <lp-icons icon='send' color="#FFFFFF"></lp-icons>Send
            </lp-text-languages>
          </paper-button>
        </form>
    </span>
  </lp-sop-dialog> 

  <lp-sop-dialog id="dialogDonate" backdrop="true">
    <span class="headline">Donate Coffee</span>
    <div class="content" horizontal layout>
      <div class="coffee-cup">
        <img-sprite src="/assets/img/sprite-logos.png" width="107" height="110" frame="3"></img-sprite>
      </div>
      <div class="coffee-text">
        <lp-text-languages
          pt-br="Nós adoramos inovação, assim o café e os relacionamentos são os nossos insumos. Se você deseja
          parabenizar-nos, por favor não tenha medo, faça um convide-nos para um café ;)">
          We love innovation so the coffee and relationship our inputs. Whether you wants to congratulate us, please don't fear, make an invite for drink coffee ;)
        </lp-text-languages>
      </div>
    </div>
  </lp-sop-dialog>   

  <lp-sop-dialog id="dialogAboutSis" backdrop="true">
    <span class="headline">About SisComando</span>
    <span class="content">
      <p>Siscomando foi criado em XXXX, por Eduardo Nascimento em conjunto com a
      equipe do Centro de Comandos para resolver xxxx, usando (como) inteligência 
      empresarial pelas disciplinas como DataMining.....Ele é uma solução para orquestrar soluções de alto impacto em negócios. </p>
      <p>Composição técnicas x numeros de ETL, processam x mil linhas por segundo, usando pentaho para montar
      cubos, concedendo informacoes para XXX indice, contorle, correção, etc. </p>
    </span>
  </lp-sop-dialog>    

  <lp-sop-dialog id="dialogInvite" backdrop="true">
    <span class="headline">Invite</span>
    <span class="content">
        <p></lp-icons>We happy by you want to be invited!
        <lp-icons icon='social:cake' color="#979797"></lp-icons></p>
        <form action="/invited/" method="post">
          <paper-input-decorator label="Your Name">
              <input is="core-input">
          </paper-input-decorator>
          <paper-input-decorator label="E-mail address">
              <input is="core-input" type="email">
          </paper-input-decorator>
          <paper-button style="float: right;">
            <lp-text-languages pt-br="<lp-icons icon='send' color='#FFFFFF'></lp-icons>Enviar">
            <lp-icons icon='send' color="#FFFFFF"></lp-icons>Enviar
            </lp-text-languages>
          </paper-button>
        </form>
    </span>
  </lp-sop-dialog> 

  <template is="auto-binding">
    <core-a11y-keys id="a11y" keys="shift+v" on-keys-pressed="{{setVideo}}"></core-a11y-keys>   
  </template>

  <!-- links actions -->
  <script>
    var callerInvite = document.querySelector('#caller');
    var callerInvite2 = document.querySelector('#caller2');
    var dialogInvite = document.querySelector('#dialogInvite'); 
    var linkDevelopers = document.querySelector('#developers');
    var dialogDevelopers = document.querySelector('#dialogDevelopers');
    var linkPackages = document.querySelector('#packages');
    var dialogPackages = document.querySelector('#dialogPackages');
    var linkContact = document.querySelector('#contact');
    var dialogContact = document.querySelector('#dialogContact');    
    var linkDonate = document.querySelector('#donate');
    var dialogDonate = document.querySelector('#dialogDonate'); 
    var linkAboutSis = document.querySelector('#aboutsis');
    var dialogAboutSis = document.querySelector('#dialogAboutSis'); 


    callerInvite.addEventListener('click', function(ev) {
      ev.stopPropagation();
      dialogInvite.open();
    }); 

    callerInvite2.addEventListener('click', function(ev) {
      ev.stopPropagation();
      dialogInvite.open();
    });     

    linkDevelopers.addEventListener('click', function(){
      // TODO...  
      dialogDevelopers.open();
    });

    linkPackages.addEventListener('click', function() {
      dialogPackages.open();
    });

    linkContact.addEventListener('click', function() {
      dialogContact.open();
    });    

    linkDonate.addEventListener('click', function() {
      dialogDonate.open();
    });   

    linkAboutSis.addEventListener('click', function() {
      dialogAboutSis.open();
    });           
  
    addEventListener('template-bound', function(ev) {
      ev.target.setVideo = function(ev) {
        var video = document.querySelector('lp-header');
        video.videoShow = !video.videoShow;
      };         
    });
  </script>
</body>
</html>
